@import 'imports/functions';

:root {
    --black: #1a1a1a;
    --white: #dadada;
    --red: #a80000;
    --app-width: 1200px;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.body-width {
    width: css-min(100%, var(--app-width));
}